/*MENU TOP*/
body{overflow-x:hidden}
.menu_nodisplay{display:none!important;}
.menu_subpage {/*show menu top*/
    height: 34px;
    /**/z-index: 12 !important;
	width:100%;	
	background: url(../images/repeat-x.png) repeat-x center -61px;}
.menu_subpage ul {
    display: block;
    height: 21px;
    margin:0;
	margin-left:auto;
	margin-right:auto;
    padding: 0;
    position: relative;
    width: 874px;
    z-index: 111;}
.menu_subpage ul li {
    display: block;
    float: left;
    height: 35px;
    margin: 0;
	background: url(../images/repeat-x.png) no-repeat right -135px;
}
.menu_subpage ul li a {
    display: block;
    height: 34px;
    z-index: 12;
	text-decoration:none;
}
.menu_subpage ul li a:hover, .menu_subpage ul li .menu_active{
	color:#333;
	display: block;
	z-index:13; 
	text-decoration:none;}
	
.menu_subpage .menu_wsub
{
	float:left;
	width:auto;
	height:auto;
	padding: 0px 0px 0px 0px;
	margin-right:18px;
	position:absolute;
	z-index:999;
	position:fixed
}
	
	.menu_subpage .menu_wsub .menu_rows
	{
		float:left;
		margin-left:0px;
		width:230px;
		background: #fff;
		padding-bottom:10px;
		z-index:1000;
		position:absolute;
		
		-moz-border-radius:0 0 4px 4px;/*tl tr bl br*/
		-o-border-radius:0 0 4px 4px;
		-webkit-border-radius:0 0 4px 4px;
		border-radius:0 0 4px 4px;
		border: 1px solid #d7d7d7;
		border-top:0;
		-moz-box-shadow: 4px 6px 12px #e0e0e0;
		-webkit-box-shadow: 4px 6px 12px 0px #e0e0e0;
		box-shadow: 4px 6px 12px #e0e0e0;
	}

.menu_subpage .menu_wsub .menu_rows a
{
	color:#303030;
	font: normal 12px/21px Arial, Helvetica, sans-serif;
    width:210px;
	height:auto;
	padding:5px 7px 3px 13px;
	float:left;
	background:#fff url(../images/icons.png) no-repeat left -832px;
	border-top:1px solid #dfdfdf
}

.menu_subpage .menu_wsub .menu_rows a:hover, .menu_subpage .menu_wsub .menu_rows a.menu_wsubLinkActive
{
	color:#53b017; 
    text-decoration:none;
	background-position: left -908px;
	border-top:1px solid #dfdfdf
}

.menu_subpage .menu_smenu
{/*SUB MAIN*/               
	
    position: absolute;
    width: 200px;
	height:auto;
    padding:0px;
}
.menu_smenu_1, .menu_smenu_2, .menu_smenu_3, .menu_smenu_4, .menu_smenu_5,.menu_smenu_6, .menu_smenu_7,.menu_smenu_8{position:absolute;/*neu menu sap xep theo hang ngang thi cho: left:0px;*/}
.menu_smenu_8{margin-left:-139px}
.menu_smenu_9{margin-left:-150px}
.menu_mainmenu:hover .menu_menuItem1,
.menu_mainmenu:hover .menu_menuItem2,
.menu_mainmenu:hover .menu_menuItem3,
.menu_mainmenu:hover .menu_menuItem4,
.menu_mainmenu:hover .menu_menuItem5,
.menu_mainmenu:hover .menu_menuItem6,
.menu_mainmenu:hover .menu_menuItem7,
.menu_mainmenu:hover .menu_menuItem8
{    
    display: block !important;
}
.menu_mainmenu:hover .menu_menuItem1
{    }
.menu_mainmenu:hover .menu_menuItem2
{    }
.menu_mainmenu:hover .menu_menuItem3
{    }
.menu_mainmenu:hover .menu_menuItem4
{    }
/***********menu_Link************/
.menu_mainmenu a.menu_menu_Link1{
	display:block;
	float:left;
}
	.menu_mainmenu a.menu_menu_Link1 span{
		float:left;
		padding-left:10px;
	}
		.menu_mainmenu a.menu_menu_Link1 span b{/* neu menu dung hinh thi minh dung background o day*/
			height:34px;
			float:left;
			cursor:pointer;
			font: bold 12px/32px Arial, Helvetica, sans-serif;
			text-align:center;
			color:#f8ffed;
			padding-right:10px;
			text-transform:uppercase
		}
		
.menu_mainmenu a.menu_menu_Link2{
	display:block;
	float:left;
}
	.menu_mainmenu a.menu_menu_Link2 span{
		float:left;
	}
		.menu_mainmenu a.menu_menu_Link2 span b{
			width:135px;
			height:27px;
			float:left;
			cursor:pointer;
			margin-top: 1px;
		}
		
.menu_mainmenu a.menu_menu_Link3{
	display:block;
	float:left;
}
	.menu_mainmenu a.menu_menu_Link3 span{
		float:left;
	}
		.menu_mainmenu a.menu_menu_Link3 span b{
			background:url(../images/menutop.png) no-repeat -343px -53px;
			width:125px;
			height:27px;
			float:left;
			cursor:pointer;
		}
.menu_mainmenu a.menu_menu_Link4{
	display:block;
	float:left;
}
	.menu_mainmenu a.menu_menu_Link4 span{
		float:left;
	}
		.menu_mainmenu a.menu_menu_Link4 span b{
			background: url(../images/menutop.png) no-repeat -468px -510px;
			width:1010px;
			height:27px;
			float:left;
			cursor:pointer;
			margin-top:-2px
		}
		
.menu_mainmenu a.menu_menu_Link5{
	display:block;
	float:left;
}
	.menu_mainmenu a.menu_menu_Link5 span{
		float:left;
	}
		.menu_mainmenu a.menu_menu_Link5 span b{
			background:url(../images/menutop.png) no-repeat -578px -60px;
			width:1010px;
			height:27px;
			float:left;
			cursor:pointer;
			margin-top:-1px
		}	
/*quan trong khi hover mainmenu*/
.menu_mainmenu:hover a.menu_menu_Link1{
}
.menu_mainmenu:hover a.menu_menu_Link1 span{
	background: url(../images/repeat-x.png) repeat-x center -95px;
}
.menu_mainmenu:hover a.menu_menu_Link1 span b{
	background: url(../images/repeat-x.png) repeat-x center -95px;
	color:#ffffff;
}
/*
.menu_mainmenu:hover a.menu_menu_Link2 span b{
	background-position:-208px -1210px;
}
.menu_mainmenu:hover a.menu_menu_Link3 span b{
	background-position:-343px -120px;
}
.menu_mainmenu:hover a.menu_menu_Link4 span b{
	background-position:-468px -126px;
}
.menu_mainmenu:hover a.menu_menu_Link5 span b{
	background-position:-578px -128px;
}

********end**********/
/****menu active****/
.menu_mainmenu a.menu_menu_Link_active{
	width:auto;
	display:block;
	float:left;
	padding-right:1px;
	height:33px;
	background: url(../images/repeat-x.png) repeat-x center -95px;
}
	.menu_mainmenu a.menu_menu_Link_active span{
		/*background: url(../images/menutop.png) 0px 0px;*/
		width:auto;
		padding-left:10px;
		float:left;
	}
		.menu_mainmenu a.menu_menu_Link_active span b{
			/*background: url(../images/menutop.png) center bottom;*/
			color:#ffffff;
			font:bold 12px/32px Arial, Helvetica, sans-serif;
			width:auto;
			height:53px;
			float:left;
			text-align:center;
			padding-right:10px;
			cursor:pointer;
			text-transform:uppercase;
		}
		
		/*********end**********/
.iconHome{
	background: url(../images/menutop.png) center top !important;}
.iconHome b{	width:24px !important;}
.menu_mainmenu a.menu_menu_LinkHome,.menu_mainmenu a.menu_menu_LinkHome_Active  {
	display:block;
	float:left;}
	.menu_mainmenu a.menu_menu_LinkHome span,.menu_mainmenu a.menu_menu_LinkHome_Active span {
		float:left;
		padding-left:10px;	}
		.menu_mainmenu a.menu_menu_LinkHome span b,.menu_mainmenu a.menu_menu_LinkHome_Active span b {/* neu menu dung hinh thi minh dung background o day*/
			height:34px;
			float:left;
			cursor:pointer;
			font: bold 15px/32px Arial, Helvetica, sans-serif;
			text-align:center;
			color:#f8ffed;
			padding-right:10px;
			text-transform:uppercase;		}
.menu_mainmenu:hover a.menu_menu_LinkHome, .menu_mainmenu a.menu_menu_LinkHome_Active{background: url(../images/repeat-x.png) repeat-x center -95px!important;}
.menu_mainmenu:hover a.menu_menu_LinkHome span, .menu_mainmenu a.menu_menu_LinkHome_Active span{
	background: url(../images/menutop.png) center -38px !important;}
.menu_mainmenu:hover a.menu_menu_LinkHome span b,.menu_mainmenu a.menu_menu_LinkHome_Active span b {}