#s4-bodyContainer {
width: 960px !important;
margin-left:auto;
margin-right:auto;
}

/* Aligns the Top Bars */
.ms-cui-ribbonTopBars {
width: 960px !important;
margin-left:auto;
margin-right:auto;
}
 
/* Turns off the border on the bottom of the tabs */
.ms-cui-ribbonTopBars > div {
border-bottom:1px solid transparent !important;
}

