body {
	background-color: #F6F6F0;
}
#s4-bodyContainer {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.ms-WPBody{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.width960 {
	width: 960px !important;
}
/* Aligns the Top Bars */
.ms-cui-ribbonTopBars {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
/* Turns off the border on the bottom of the tabs */
.ms-cui-ribbonTopBars > div {
	border-bottom: 1px solid transparent !important;
}
body #s4-ribbonrow {
	background-color: #D31145 !important;
}
#s4-mainarea {
	background-color: #FFFFFF;
}
.ms-siteactionsmenuhover {
	background-color: #D31145 !important;
}
.ms-dlgTitle {
	background-color: #D31145 !important;
}
.ms-dlgBorder {
	border: 1px solid #F098AE !important;
}
.ms-dlgContent {
	border: 1px solid #D31145 !important;
}
.ms-titlerowborder {
	border: 0px solid transparent !important;
}
body #s4-topheader2 {
	min-height: inherit !important;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
}
.ms-ltviewselectormenuheader .ms-viewselector a, .ms-ltviewselectormenuheader .ms-viewselectorhover a {
	font-size: 11px;
}
.row_pathnavigator {
	padding: 3px 5px;
}
.ms-welcomeMenu.ms-SpLinkButtonActive {
	background-color: #D31145;
}
.s4-breadcrumb-anchor:hover, .s4-breadcrumb-anchor-open, .ms-qatbutton:hover {
	background-color: #D31145;
}
.ms-ltviewselectormenuseparator {
	top: 1px;
}
.header_menu {
	float: left;
	padding: 20px 0 20px 15px;
}
.header_menu ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
.header_menu li {
	float: left;
	padding: 3px 0;
}
.header_menu a, .header_menu a:link, .header_menu a:visited {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #313131;
	margin-right: 22px;
}
.header_menu a:hover {
	color: #BE2136;
}
.footer-area {
	float: left;
	background-color: #FFFFFF;
	width: 100%
}
.footer a, .footer a:link, .footer a:visited {
	color: #666;
}
.footer a:hover {
	color: #be2136;
}
.s4-titlelogo {
	padding: 5px 10px 5px 0;
}
.s4-recentchanges {
	display: none;
}
.left_menu_1 .child {
	padding-left: 0;
	margin: 0;
}
.div_hotnews_right {
	height: 232px !important;
}
ul {
	list-style: none outside none;
}
.homenews {
	background: url("../images/menu_right_bg.png") repeat-y scroll 0 0 #EEEEE6;
}
h1, h2, h3, h4, h5, h6, .scroll_a h3 {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.slimScrollDiv {height: auto !important;}
.whatNews_box{padding-left: 0;}
.link_services {
  padding: 0;
}

.ms-WPBody a:link, .ms-WPBody a:visited, #s4-bodyContainer a:link, #s4-bodyContainer a:visited {
  color: #666666;
  text-decoration: none;
}
.ms-WPBody a:hover, #s4-bodyContainer a:hover 
{
  color: #BE2136;
  text-decoration: none;
}

/*begin news list*/
.uppercase {
    text-transform: uppercase;
}
.box-title {
    font-weight: bold;
}
.box-header {
    border-bottom-color: #D31145;
}
.box-header {
    background: url("../images/bgtitle_list.png") repeat-x scroll left bottom #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 10px 10px 10px 10px;
}

.box-desc {
    padding: 5px 10px;
}
.box-content {
    padding: 5px 10px;
}
.wp-newslist-box {
    border-bottom: 1px solid #F098AE;
    padding: 5px 0;
}


.clear-both {
    clear: both;
}

.wp-newslist-title {
    font-weight: bold;
}

.wp-newslist-date {
    color: #757575;
}
.wp-newslist-detail {
    margin-top: 5px;
}
.wp-newslist-detail img {
    border: 1px solid #F098AE;
    margin-right: 10px;
}

.wp-news-date {
    float: right;
    padding:3px 0;
}

.box-container{
	padding: 5px;
}
.wp-news-details{
	padding-right: 4px;
}

.highlight-manage-news{color: #0072BC !important;font-weight:bold;}
/*end news list*/

.s4-search select, .s4-search input, .s4-search .ms-searchimage 
{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.s4-search select{
	display: none;
}
#s4-searcharea{
	width: 248px;
}
.s4-ba
{
    background: url("../images/main_content.png") repeat-x scroll 0 0 transparent;
}
.srch-stats {
  background-color: inherit !important;
}

.ms-browseTab.ms-cui-tt-s > a.ms-cui-tt-a {
  background-color: #EEEEE6;
}

.s4-title
{
    background-image: none;
    background-color: #EEEEE6;
}

.inside-s4-topheader2
{
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #FFFFFF;
}
body #s4-topheader2 {
    background-image: none;
    background-color: #EEEEE6;
}
body #s4-topheader2 {
  border-bottom: 1px solid #FFFFFF;
}